@tailwind base;
@tailwind components;
@tailwind utilities;

.landing-hero{
    background: url('../src/imgs/unsplash.jpg');
    height: 60vh;
    background-position: center;
    background-size: cover;
}
